{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
<title>Freeshelf</title>
</head>

<article class="card">
<header>
    <nav class="navbar">
        <div>
            {% if user.is_authenticated %}
                <button class="pseudo"><a href="{% url 'auth_logout' %}">logout</a></button>
            {% else %}
                <a href="{% url 'auth_login' %}">login</a>
                <a href="{% url 'registration_register' %}">register</a>
            {% endif %}
        </div>
    </nav>
</header>
</article>

<body>
    <div>
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>