{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Freeshelf</title>
</head>
<header>
    <nav>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'auth_logout' %}">logout</a>
            {% else %}
                <a href="{% url 'auth_login' %}">login</a>
                <a href="{% url 'registration_register' %}">register</a>
            {% endif %}
        </div>
    </nav>
    <a href="{% url 'index' %}"><h1>Freeshelf</h1></a>
</header>
<body>
    <div class="book_list">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>