{% extends "base.html" %}

{% block content %}

<h1><a href="{% url 'index' %}"><center>Freebook Freeshelf</center></a></h1>

<div>
    {% if book %}
        <h3><b><i>{{ book.title }}</i></b></h3>
        <p>{{ book.author }}</p>
        <p>{{ book.decription }}</p>
        <p>{{ book.URL }}<p>
        <p>{{ book.created_at }}</p>
        <div>
            <form action="{% url 'favorite' pk=book.pk %}" method="POST">
            {% csrf_token %}
            <label>
                <input type="checkbox">
                <span class="checkable">Book is Bae</span>
            </label>
            </form>
        </div>
    {% endif %}
</div>

{% endblock %}