{% extends "base.html" %}

{% block content %}

<h1><a href="{% url 'index' %}"><center>Freebook Freeshelf</center></a></h1>

<div class="card">
    <div class="card-content">
        <div class="content">
    {% for book in books %}
        <br><h3><a href="{% url 'details' pk=book.pk %}"><b>{{ book.title }}</b></a></h3>
        <h4>{{ book.author }}</h4>

        <form action="{% url 'favorite' pk=book.pk %}" method="POST">
            {% csrf_token %}

            <label>
                <input type="checkbox">
                <span class="checkable">Book is Bae</span>
            </label>

            <header>
                <button class="button is-success is-small is-responsive" class="shyButton"><a href="{% url 'edit' pk=book.pk %}">Edit Book</a></button>
                <br>
                <button class="button is-warning is-light is-small is-responsive"><a href="{% url 'delete' pk=book.pk %}">Delete Book</a></button>
            </header>

    {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
